<section class="hero-section hero" data-background=""
    style="background-image: url(assets/hero-area/banner-bg3.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center zindex-1">
                <img class="img-fluid w-25 mb-4" src="assets/img/LOGO CODE MAKERS.png" alt="banner-img">
                <p class="mb-4">Convertimos conceptos en soluciones digitales de vanguardia<br>
                    con una sólida experiencia
                    en desarrollo de software.</p>
                <a href="#" class="btn btn-secondary btn-lg">explorar más</a>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <div id="scene">
        <img class="img-fluid hero-bg-1 up-down-animation" src="assets/background-shape/feature-bg-2.png"
            alt="">
        <img class="img-fluid hero-bg-2 left-right-animation" src="assets/background-shape/seo-ball-1.png"
            alt="">
        <img class="img-fluid hero-bg-3 left-right-animation" src="assets/background-shape/seo-half-cycle.png"
            alt="">
        <img class="img-fluid hero-bg-4 up-down-animation" src="assets/background-shape/green-dot.png" alt="">
        <img class="img-fluid hero-bg-5 left-right-animation" src="assets/background-shape/blue-half-cycle.png"
            alt="">
        <img class="img-fluid hero-bg-6 up-down-animation" src="assets/background-shape/seo-ball-1.png" alt="">
        <img class="img-fluid hero-bg-7 left-right-animation" src="assets/background-shape/yellow-triangle.png"
            alt="">
        <img class="img-fluid hero-bg-8 up-down-animation" src="assets/background-shape/service-half-cycle.png"
            alt="">
        <img class="img-fluid hero-bg-9 up-down-animation" src="assets/background-shape/team-bg-triangle.png"
            alt="">
    </div>
</section>