<section class="section-lg service-bg-image position-relative"
    style="background-image: url(../../../assets/backgrounds/service-page.png);">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Nuestros Servicios</h2>
                <p class="mb-100">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <!-- service item -->
            <div class="col-sm-6 mb-4">
                <card-service></card-service>
            </div>
            <!-- service item -->
            <div class="col-sm-6 mb-4 translate-y-150">
                <card-service></card-service>
            </div>
            <!-- service item -->
            <div class="col-sm-6 mb-4">
                <card-service></card-service>
            </div>
            <!-- service item -->
            <div class="col-sm-6 mb-4 translate-y-150">
                <card-service></card-service>
            </div>
            <!-- service item -->
            <div class="col-sm-6 mb-4">
                <card-service></card-service>
            </div>
            <!-- service item -->
            <div class="col-sm-6 mb-4 translate-y-150">
                <card-service></card-service>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img class="service-bg-1 up-down-animation" src="../../../assets/background-shape/feature-bg-2.png" alt="">
    <img class="service-bg-2 left-right-animation" src="../../../assets/background-shape/seo-half-cycle.png" alt="">
    <img class="service-bg-3 up-down-animation" src="../../../assets/background-shape/team-bg-triangle.png" alt="">
    <img class="service-bg-4 left-right-animation" src="../../../assets/background-shape/green-dot.png" alt="">
    <img class="service-bg-5 up-down-animation" src="../../../assets/background-shape/team-bg-triangle.png" alt="">
</section>