<!-- contact -->
<section class="section-lg contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Contacto</h2>
            </div>
        </div>
        <div class="row contact-bg p-5 rounded mb-5">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <form action="#">
                    <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Nombre">
                    <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Email">
                    <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Asunto">
                    <textarea name="message" id="message" class="form-control mb-3"
                        placeholder="Tu mensaje..."></textarea>
                    <button type="submit" value="send" class="btn btn-secondary">ENVIAR MENSAJE</button>
                </form>
            </div>
            <div class="col-lg-5">
                <p class="mb-3">Si deseas conocer más de nuestros servicios, puedes ponerte en contacto con nosotros.
                </p>

                <h4>Escríbenos:</h4>
                <a href="https://wa.link/xf6u91" target="_blank" class="text-color h5 d-block"><i
                        class="whatsapp fa-brands fa-whatsapp"></i> +57 313 406 7587</a>
                <a href="https://wa.link/9266vp" target="_blank" class="text-color h5 d-block mb-3"><i
                        class="whatsapp fa-brands fa-whatsapp"></i> +57 312 596 4567</a>

                <h4>Envíanos un correo:</h4>
                <a href="mailto:codemakers@codemakers.dev"
                    class="mb-5 text-color h5 d-block">codemakers@codemakers.dev</a>


                <div class="d-block">
                    <h4>Visítanos:</h4>
                    <p><i class="fa-solid fa-location-dot"></i> Saladoblanco, Huila, Colombia</p>
                </div>

            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img class="contact-bg-1 up-down-animation" src="../../../assets/background-shape/feature-bg-2.png"
        alt="background-shape">
    <img class="contact-bg-2 left-right-animation" src="../../../assets/background-shape/green-half-cycle.png"
        alt="background-shape">
    <img class="contact-bg-3 up-down-animation" src="../../../assets/background-shape/green-dot.png"
        alt="background-shape">
    <img class="contact-bg-4 left-right-animation" src="../../../assets/background-shape/service-half-cycle.png"
        alt="background-shape">
    <img class="contact-bg-5 up-down-animation" src="../../../assets/background-shape/feature-bg-2.png"
        alt="background-shape">
</section>
<!-- /contact -->