<footer class="footer-section footer" style="background-image: url(assets/backgrounds/footer-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
                <!-- logo -->
                <a href="" routerLink="home">
                    <img src="assets/img/LOGO CODE MAKERS.png" alt="logo" class="w-25">
                </a>
            </div>
            <!-- footer menu -->
            <nav class="col-lg-8 align-self-center mb-5">
                <ul class="list-inline text-lg-right text-center footer-menu">
                    <li class="list-inline-item">
                        <a class="page-scroll" routerLink="home" routerLinkActive="active">Inicio</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="page-scroll" routerLink="services" routerLinkActive="active">Servicios</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="page-scroll" routerLink="team" routerLinkActive="active">Equipo</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="page-scroll" routerLink="contact" routerLinkActive="active">Contacto</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="page-scroll" routerLink="about" routerLinkActive="active">Acerca de</a>
                    </li>
                </ul>
            </nav>
            <!-- footer social icon -->
            <nav class="col-12">
                <ul class="list-inline text-lg-right text-center social-icon">
                    <li class="list-inline-item">
                        <a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="whatsapp" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="black" href="#"><i class="fa-brands fa-github"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>