<!-- hero area -->
<section class="hero-section hero" data-background=""
    style="background-image: url(../../../assets/hero-area/banner-bg2.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center zindex-1">
                <img class="img-fluid w-25 mb-4" src="../../../assets/img/LOGO CODE MAKERS.png" alt="banner-img">
                <p class="mb-4">Convertimos conceptos en soluciones digitales de vanguardia<br>
                    con una sólida experiencia
                    en desarrollo de software.</p>
                <a href="#" class="btn btn-secondary btn-lg">explorar más</a>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <div id="scene">
        <img class="img-fluid hero-bg-1 up-down-animation" src="../../../assets/background-shape/feature-bg-2.png"
            alt="">
        <img class="img-fluid hero-bg-2 left-right-animation" src="../../../assets/background-shape/seo-ball-1.png"
            alt="">
        <img class="img-fluid hero-bg-3 left-right-animation" src="../../../assets/background-shape/seo-half-cycle.png"
            alt="">
        <img class="img-fluid hero-bg-4 up-down-animation" src="../../../assets/background-shape/green-dot.png" alt="">
        <img class="img-fluid hero-bg-5 left-right-animation" src="../../../assets/background-shape/blue-half-cycle.png"
            alt="">
        <img class="img-fluid hero-bg-6 up-down-animation" src="../../../assets/background-shape/seo-ball-1.png" alt="">
        <img class="img-fluid hero-bg-7 left-right-animation" src="../../../assets/background-shape/yellow-triangle.png"
            alt="">
        <img class="img-fluid hero-bg-8 up-down-animation" src="../../../assets/background-shape/service-half-cycle.png"
            alt="">
        <img class="img-fluid hero-bg-9 up-down-animation" src="../../../assets/background-shape/team-bg-triangle.png"
            alt="">
    </div>
</section>
<!-- /hero-area -->

<!-- Services -->
<section class="section feature mb-0" id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Nuestros Servicios</h2>
                <p class="mb-100">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur.<br>Excepteur sint occaecat cupidatat non proident</p>
            </div>
            <!-- service item -->
            <div class="col-md-6 mb-80">
                <div class="d-flex feature-item">
                    <div>
                        <i class="fa-solid fa-laptop-code feature-icon mr-4"></i>
                    </div>
                    <div>
                        <h4>Software a tu medida</h4>
                        <p>Tenemos amplia experiencia en el desarrollo de software profesional, haremos tus ideas
                            realidad.</p>
                    </div>
                </div>
            </div>
            <!-- service item -->
            <div class="col-md-6 mb-80">
                <div class="d-flex feature-item">
                    <div>
                        <i class="fa-solid fa-file-code feature-icon mr-4"></i>
                    </div>
                    <div>
                        <h4>Lorem</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- service item -->
            <div class="col-md-6 mb-80">
                <div class="d-flex feature-item">
                    <div>
                        <i class="fa-brands fa-codepen feature-icon mr-4"></i>
                    </div>
                    <div>
                        <h4>Lorem</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- service item -->
            <div class="col-md-6 mb-80">
                <div class="d-flex feature-item">
                    <div>
                        <i class="fa-solid fa-code-compare feature-icon mr-4"></i>
                    </div>
                    <div>
                        <h4>Lorem</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="feature-bg-1 up-down-animation" src="../../../assets/background-shape/feature-bg-1.png" alt="bg-shape">
    <img class="feature-bg-2 left-right-animation" src="../../../assets/background-shape/feature-bg-2.png"
        alt="bg-shape">
</section>
<!-- /services -->


<!-- team -->
<section class="section-lg team" id="team">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Nuestro Equipo</h2>
                <p class="mb-50">Contamos con una gran variedad de profesionales expertos<br>
                    en el desarrollo de software's.</p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 mt-3 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue shadow">
                        <div class="d-flex mb-4">
                            <div class="mr-3">
                                <img class="rounded-circle img-fluid" src="../../../assets/team/team-1.jpg" alt="team-member">
                            </div>
                            <div class="align-self-center">
                                <h4>Erik Ligas</h4>
                                <h6 class="text-color">Programmer</h6>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue shadow">
                        <div class="d-flex mb-4">
                            <div class="mr-3">
                                <img class="rounded-circle img-fluid" src="../../../assets/team/team-1.jpg" alt="team-member">
                            </div>
                            <div class="align-self-center">
                                <h4>Erik Ligas</h4>
                                <h6 class="text-color">Programmer</h6>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue shadow">
                        <div class="d-flex mb-4">
                            <div class="mr-3">
                                <img class="rounded-circle img-fluid" src="../../../assets/team/team-1.jpg" alt="team-member">
                            </div>
                            <div class="align-self-center">
                                <h4>Erik Ligas</h4>
                                <h6 class="text-color">Programmer</h6>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue shadow">
                        <div class="d-flex mb-4">
                            <div class="mr-3">
                                <img class="rounded-circle img-fluid" src="../../../assets/team/team-1.jpg" alt="team-member">
                            </div>
                            <div class="align-self-center">
                                <h4>Erik Ligas</h4>
                                <h6 class="text-color">Programmer</h6>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue shadow">
                        <div class="d-flex mb-4">
                            <div class="mr-3">
                                <img class="rounded-circle img-fluid" src="../../../assets/team/team-1.jpg" alt="team-member">
                            </div>
                            <div class="align-self-center">
                                <h4>Erik Ligas</h4>
                                <h6 class="text-color">Programmer</h6>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-3 mb-4 mb-lg-0">
                    <div class="card p-4 border-blue shadow">
                        <div class="d-flex mb-4">
                            <div class="mr-3">
                                <img class="rounded-circle img-fluid" src="../../../assets/team/team-1.jpg" alt="team-member">
                            </div>
                            <div class="align-self-center">
                                <h4>Erik Ligas</h4>
                                <h6 class="text-color">Programmer</h6>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- backgound image -->
    <img src="../../../assets/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg">
    <!-- background shapes -->
    <img class="team-bg-shape-1 up-down-animation" src="../../../assets/background-shape/seo-ball-1.png"
        alt="background-shape">
    <img class="team-bg-shape-2 left-right-animation" src="../../../assets/background-shape/seo-ball-1.png"
        alt="background-shape">
    <img class="team-bg-shape-3 left-right-animation" src="../../../assets/background-shape/team-bg-triangle.png"
        alt="background-shape">
    <img class="team-bg-shape-4 up-down-animation img-fluid" src="../../../assets/background-shape/team-bg-dots.png"
        alt="background-shape">
</section>
<!-- /team -->