.links {
    display: none;
}





@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }
    #menu {
        background-color: rgba(246, 246, 246, 0.158);
        backdrop-filter: blur(10px);
    }
}